:root {
  font-family: 'SF Pro';

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  height: -webkit-fill-available;
}

body {
  font-family: 'SF Pro';
  min-height: 100vh;
  min-height: -webkit-fill-available;
  overflow-x: hidden;
  overflow-y: visible;
  position: relative;
}

#root {
  display: block;
  width: 100%;
  overflow-y: visible;
}
